<h1>New Issue</h1>

<%= render 'form', issue: @issue %>

<div class="uk-clearfix">
  <div class="uk-float-right uk-margin" uk-margin>
    <%= link_to 'Back', issues_path, class: 'uk-button uk-button-default' %>
  </div>
</div>
