<h1>New User</h1>

<%= render 'form', user: @user %>

<div class="uk-clearfix">
  <div class="uk-float-right uk-margin" uk-margin>
    <%= link_to 'Back', users_path, class: 'uk-button uk-button-default' %>
  </div>
</div>
