<h1>New Record</h1>

<%= render 'form', record: @record %>

<div class="uk-clearfix">
  <div class="uk-float-right uk-margin" uk-margin>
    <%= link_to 'Back', records_path, class: 'uk-button uk-button-default' %>
  </div>
</div>
