<h1>New Project</h1>

<%= render 'form', project: @project %>

<div class="uk-clearfix">
  <div class="uk-float-right uk-margin" uk-margin>
    <%= link_to 'Back', projects_path, class: 'uk-button uk-button-default' %>
  </div>
</div>
